.inner {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

header {
  border-bottom: 1px solid #eee;
}
header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .inner > a {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  color:cornflowerblue;
  text-decoration: none;
}

footer {
  background:rgb(68, 68, 68);
  margin-top: 5%;
}

footer .inner p {
  text-align: center;
  font-size: 19px;
  color: #fff;
}